{% extends 'store/base.html' %}
{% block content %}
{% load static %}
{% include 'store/navigation.html' %}

<div class="row" style="margin-left: 0.5%; margin-right: 0.5%;">
  {% for product in products %}
    {% if product.instock == True %}
    <div class="col-lg-4">
      {% if product.image %}
        <img class="thumbnail" src="{{product.image.url}}">
      {% else %}
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
      {% endif %}
      <div class="box-element product">
        <h5><strong>{{product.name}}</strong></h6>
        <hr style="margin-top: 2%; margin-bottom: 2%;">
        <div class="d-flex justify-content-between">
          <h6 style="display: inline-block; margin-bottom: 0;">Colour: {{product.colour}}</h6><h6 style="display: inline-block; text-align: right; margin-bottom: 0;">Size: {{product.size}}</h6>
        </div>
        <hr style="margin-top: 2%; margin-bottom: 2%;">
        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        <a class="btn btn-outline-success" href="#" id="view">View</a>
        <h4 style="float: right"><strong>INR {{product.price|floatformat:2}}</strong></h4>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<script type="text/javascript">
  var user = "{{request.user}}"
</script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

{% endblock %}